### Import Pandas library for data analysis

In [44]:
import pandas as pd

### Input Dataset

In [45]:
df_data = pd.read_csv("C4C-dev-challenge-2018.csv")

In [46]:
df_data.head()

,violation_id,inspection_id,violation_category,violation_date,violation_date_closed,violation_type
0,204851,261019,Garbage and Refuse,2012-01-03 0:00,2012-02-02 0:00,Refuse Accumulation
1,204852,261019,Unsanitary Conditions,2012-01-03 0:00,2012-02-02 0:00,"Unsanitary conditions, not specified"
2,204853,261023,Garbage and Refuse,2012-01-03 0:00,2012-01-17 0:00,Refuse Accumulation
3,204854,261023,Garbage and Refuse,2012-01-03 0:00,2012-01-17 0:00,Refuse Accumulation
4,204858,261029,Garbage and Refuse,2012-01-03 0:00,2012-03-12 0:00,Refuse Accumulation

### TASK 1 : The number of violations in each category

In [47]:
df_groupby_category = df_data.groupby("violation_category")

#### FINAL OUTPUT:

In [48]:
df_groupby_category.violation_id.count()

violation_category
Air Pollutants and Odors      2
Animals and Pests           180
Biohazards                    7
Building Conditions          62
Chemical Hazards             17
Garbage and Refuse          126
Retail Food                   1
Unsanitary Conditions        83
Vegetation                   67
Name: violation_id, dtype: int64

### Task 2: The earliest and latest violation date for each category

In [49]:
out_columns = ["earliest_violation_date", "latest_violation_date"]

In [50]:
df_data["earliest_violation_date"]  = df_groupby_category["violation_date"].transform('min')
df_data["latest_violation_date"]  = df_groupby_category["violation_date"].transform('max')

In [51]:
df_data.set_index("violation_category", inplace=True)

In [52]:
df_output = df_data[out_columns].drop_duplicates()

#### FINAL OUTPUT:

In [54]:
df_output.sort_index()

                         earliest_violation_date latest_violation_date
violation_category
Air Pollutants and Odors         2012-12-05 0:00       2012-12-19 0:00
Animals and Pests                2012-01-03 0:00       2012-12-28 0:00
Biohazards                       2012-04-13 0:00       2012-12-18 0:00
Building Conditions              2012-01-12 0:00       2012-12-26 0:00
Chemical Hazards                 2012-02-08 0:00       2012-12-06 0:00
Garbage and Refuse               2012-01-03 0:00       2012-12-21 0:00
Retail Food                      2012-12-20 0:00       2012-12-20 0:00
Unsanitary Conditions            2012-01-03 0:00       2012-12-19 0:00
Vegetation                       2012-02-01 0:00       2012-12-05 0:00